body{
 font-family: 'Dancing Script', cursive;
 background-color: black;
 margin: 0;
 color: black;
  font-size: 3vmin
}

header{
color: white;
background-color: #5b7989;
justify-content: space-around;
align-items: center;
text-shadow: 2px #02010a;
border-radius: 10px 10px 0 0;
}

footer{
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
  margin: 0 auto;
}

footer h3{
  margin: 0 auto;
}

#foot3 div{
  display: flex;
  flex-flow: row;
  width: 100%;
}

#foot3 div a{
  width: 20%
}

ul li{
  overflow: hidden;
  display: inline;
  padding: 10px;
}

nav a:visited{
  color: white
}

@media (max-width:900px) {
  body{
    justify-content: center;
    font-size: 2rem
  }

  header{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
  }
  #contenedor{
    width: 100%;
    background-color: #FDFA8B;
    margin:0 auto;
  }

  footer{
    width: 100%;
  }

  #foot1,#foot2,#foot3,#foot4{
    padding: 5%;
  }

  #contenedor figure{
    margin: 0 auto !important;
  }

  #contenedor figure img{
    width: 80%;
    margin: 5% 10%;
  }
}

@media (min-width:900px) {

  #contenedor{
    width: 900px;
    background-color: #FDFA8B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 auto;
  }

  header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
  }

  footer{
    width: 900px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  footer div{
    width: 20%;
    margin: 1%
  }

  #img1{
    display: flex;
    flex-flow: row nowrap;
  }

  #img2{
    display: flex;
    flex-flow: row nowrap;
  }

  #contenedor figure{
    width: 30%
  }
}
